**/.obsidian/workspace.json
**/vite.config.ts.timestamp*
*.wav
*.mp3
*.log
*/node_modules/
*/bower_components
.DS_Store
*/.CondaPkg
*/.wrangler
**/*.jls
*/another_one
**/dist
new-ext/.output
new-ext/output
new-ext/.wxt
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/python_test
/supabase
