**/vite.config.ts.timestamp*
*.wav
*.mp3
*.log
*/node_modules/
*/bower_components
.DS_Store
*/.CondaPkg
*/.wrangler
**/*.jls
*/another_one
**/dist
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/notes/workspace.json
